In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
%matplotlib inline 
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,1)

In [3]:
data=pd.read_csv("Bengaluru_House_Data.csv")
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.shape

(13320, 9)

In [5]:
locations = data['location']
unique_locations = locations.unique()
for location in unique_locations:
    print(location)

Electronic City Phase II
Chikka Tirupathi
Uttarahalli
Lingadheeranahalli
Kothanur
Whitefield
Old Airport Road
Rajaji Nagar
Marathahalli
Gandhi Bazar
7th Phase JP Nagar
Gottigere
Sarjapur
Mysore Road
Bisuvanahalli
Raja Rajeshwari Nagar
Ramakrishnappa Layout
Manayata Tech Park
Kengeri
Binny Pete
Thanisandra
Bellandur
 Thanisandra
Mangammanapalya
Electronic City
Ramagondanahalli
Yelahanka
Hebbal
Kasturi Nagar
Kanakpura Road
Electronics City Phase 1
Kundalahalli
Chikkalasandra
Murugeshpalya
Sarjapur  Road
Ganga Nagar
HSR Layout
Doddathoguru
KR Puram
Himagiri Meadows
Adarsh Nagar
Bhoganhalli
Lakshminarayana Pura
Begur Road
Devanahalli
Govindaraja Nagar Ward
Tharabanahalli
Varthur
Bommanahalli
Gunjur
Devarachikkanahalli
Double Road
Hegde Nagar
Haralur Road
Hennur Road
Kothannur
Kalena Agrahara
Cholanayakanahalli
Kaval Byrasandra
ISRO Layout
Kodanda Reddy Layout
Garudachar Palya
EPIP Zone
Dasanapura
Kasavanhalli
Sanjay nagar
 Mysore Highway
Domlur
Sarjapura - Attibele Road
Devasthanagalu
T Dasarahalli
Yeshwanthpur
Chandapura
Green View Layout
Shantiniketan Layout
Peenya
Nagarbhavi
Jalahalli West
Lakshmiamma Garden
Byatarayanapura
Ramamurthy Nagar
Malleshwaram
Akshaya Nagar
Shampura
Kadugodi
LB Shastri Nagar
Vajarahalli
Hormavu
Vishwapriya Layout
Ramaswamy Palya - Kammanahalli Main Road
Kudlu Gate
8th Phase JP Nagar
Bommasandra Industrial Area
Chandra Layout
Anandapura
Vishveshwarya Layout
Kengeri Satellite Town
Basavanapura
Dinnur
Kannamangala
 Devarachikkanahalli
Sanjeevini Nagar
Hulimavu
Mahalakshmi Layout
Yarandahalli
Hosa Road
Keshava Nagar
RMV Extension
Tejaswini Nagar
Jai Bheema Nagar
Kothnur Narayanapura
Attibele
CV Raman Nagar
CHIKKATIRUPATHI
Kumaraswami Layout
Nagavara
Hebbal Kempapura
Vijayanagar
8th block Koramangala
Jakkuru Layout
Pattandur Agrahara
Ejipura
MS Pallya
Nagasandra
Langford Town
Kogilu
Panathur
Nagondanahalli
Padmanabhanagar
1st Block Jayanagar
Kammasandra
Off Sarjapur Road,
Tala Cauvery Layout
Dasarahalli
Magadi Road
Ngef Layout
Koramangala
Lakshminarayanapura, Electronic City Phase 2
Muthurayya Swamy Layout
Dommasandra
Budigere
Dodda Nekkundi Extension
Mylasandra
Kalyan nagar
Dr Shivarama Karantha Nagar
Bank Of Baroda Colony
Kullappa Colony
Mukkutam Nagar
Ashwath Nagar
Ncpr Industrial Layout
Meenakunte
OMBR Layout
Anand Nagar
Shree Ananth Nagar Layout
Kundalahalli Colony
Horamavu Agara
MCECHS  layout
Coffee Board Layout
Ambedkar Nagar
KUDLU MAIN ROAD
Geleyara Balaga Layout
Talaghattapura
Sundara Nagar
Balagere
Jigani
Gollarapalya Hosahalli
Srirampura
Old Madras Road
Kaggadasapura
Silver Springs Layout
9th Phase JP Nagar
Jakkur
TC Palaya
Maruthi Sevanagar
RMV 2nd Stage
Giri Nagar
Singasandra
AECS Layout
Mallasandra
Begur
JP Nagar
Sunder Ram Shetty Nagar
Malleshpalya
Kodathi
Munnekollal
Motappa Layout
Akshaya Vana
Kaggalipura
Basavanna Nagar
6th Phase JP Nagar
Ulsoor
Thigalarapalya
Somasundara Palya
T.C PALYA
Muneshwara Nagar
Basaveshwara Nagar
Bull Temple Road
Bommasandra
Prashanth Nagar
Suragajakkanahalli
Ardendale
Harlur
Sampigehalli
RMV
Banashankari3rd stage bigbazar
Bagalur Main Road
Kodihalli
Narayanapura
Binny Mills Employees Colony
Bannerghatta Road
Hennur
5th Phase JP Nagar
Kodigehaali
Gopalapura
Billekahalli
Jalahalli
Mahadevpura
Anekal
Hoodi Circle,
Sompura
Ashirvad Colony
Dodda Nekkundi
K N Extension
Hosur Road
Battarahalli
Gokula Extension
Kamakshipalya
Sultan Palaya
Sanne Amanikere
Amco Colony
Ambalipura
Hoodi
Samethanahalli
Brookefield
Yelenahalli
Richmond Town
Suddaguntepalya
Udayapur Village
Vittasandra
Thippasandra
Chikkabidarakallu
1 Giri Nagar
Hoysalanagar
Defence Colony
2nd Stage Nagarbhavi
Vidyaranyapura
Amruthahalli
ITI Employees Layout
Kodigehalli
Patelappa Layout
Ring Road Nagarbhavi
NS Palya
Subramanyapura
Basavangudi
Kenchenahalli
3rd Block Hrbr Layout
Bank Avenue
Surabhi Layout
Banjara Layout
Omkar Nagar
Kereguddadahalli
Maragondanahalli
Silk Board
Kada Agrahara
Kambipura
BHEL Layout
Medahalli
Banashankari Stage III
Kashi Nagar
Sector 7 HSR Layout
Yemlur, Old Airport Road,
VHBCS Layout
Ittamadu
Rajiv Nagar
Gattahalli
Arekere
Ramanjaneyanagar
Mico Layout
7th Block Jayanagar
2nd Phase JP Nagar
Kammanahalli
K G Colony
Banashankari
Herohalli
Chikkabanavar
HRBR Layout
nan
Ashwini layout
Marathalli bridge
Dooravani Nagar
JCR Layout
Nehru Nagar
Kanakapura
Papareddipalya
Venkatapura
Sneha Colony
Konanakunte
Hosapalya
Doddagubbi
Sector 6 HSR Layout
Margondanahalli
ITI Layout
R.T. Nagar
Tumkur Road
Vasanthapura
Hosahalli
GM Palaya
near Ramanashree California resort
6th block banashankari 3rd stage, 100 feet ORR
Jalahalli East
Poornapragna Housing Society Layout
Hosakerehalli
Huskur
Indira Nagar
Shanthala Nagar
Teachers Colony
Bettahalsoor
Srinivasa Nagar
Sulthangunta
Byrathi Village
Kodichikkanahalli
Ambedkar Colony
Varthur Road
Anjappa Layout
Avalahalli
Prakruthi Nagar
Sadaramangala
Anjanapura
Abbigere
Tindlu
B Narayanapura
Green Garden Layout
Gubbalala
Dairy Circle
Parappana Agrahara
Jeevan bima nagar
Narayana Nagar 1st Block
KSRTC Layout
P&T Colony
Cunningham Road
New Gurappana Palya
Chelekare
Palanahalli
Vadarpalya
Kudlu
Shivanagar
V.V Puram
Sector 3 HSR Layout
Banashankari Stage VI
HMT Layout
Basavanagara
Cox Town
Kalasipalya
Kathriguppe
HBR Layout
4 Bedroom Farm House in Bagalur
Yelahanka New Town
Sahakara Nagar
manyata park
Rachenahalli
Belathur
Sadashiva Nagar
Yelachenahalli
Shirdi Sai Layout
Kodbisanhalli
Sathya Sai Layout
Indiranagar HAL 2nd Stage
Vishwanatha Nagenahalli
Singapura Village
Bendiganahalli
Hosakerehalli Layout
Hennagara
Ferrar Nagar
Green Glen Layout
BAGUR
Thubarahalli
M.G Road
Naganathapura
Horamavu Banaswadi
1st Phase JP Nagar
Kaverappa Layout
NGR Layout
Divya Unnathi Layout
Vasantha Vallabha Nagar
sapthagiri Layout
Seegehalli
BEML Layout
Alur
Devarabisanahalli
NRI Layout
Sidedahalli
Dwarka Nagar
ITPL
Thurahalli
Hallehalli
Kattigenahalli
Marathi Layout
Weavers Colony
Raghavendra Nagar
KR Layout
Babusapalaya
Nagappa Reddy Layout
Kempapura
BTM 1st Stage
Kariyammana Agrahara
Hessarghatta
Binnamangala
Suraksha Nagar
Lakshmi Layout
Iblur Village
Kadugondanahalli
Basava Nagar
2nd Block Hrbr Layout
Ananth Nagar
Canara Bank Layout
Narasapura
Manjunath Nagar
Basapura
Channasandra
Singena Agrahara
Sector 1 HSR Layout
Mango Garden Layout
Kacharakanahalli
Bidere Agarahara, Behind Safal market
Grihalakshmi Layout
Gopalkrishna Nagar
Choodasandra
Sai Gardens
Dodda Kempaiah Layout
Hanumanth Nagar
Kaikondrahalli
Hunasamaranahalli
RWF West Colony
Bileshivale
Neeladri Nagar
Frazer Town
Williams Town
Jaya Nagar East
Iggalur
Cooke Town
Doddakallasandra
Chokkanahalli
Chikkaballapur
Chamrajpet
VGP Layout
Classic Paradise Layout
Byappanahalli
Vasanth nagar
Rayasandra
Kalkere
T.C. Palya
Siddapura
Makali
Vibuthipura
5th Block Hbr Layout
Pai Layout
Defence Layout
Roopena Agrahara
Banashankari Stage V
Coconut Garden
Gollahalli
Sonnenahalli
D Souza Layout
ECC Road, Whitefield,
Seetharampalya
Rukmaiah Layout
Devanahalli Int. Airport
Puttanahalli
Benson Town
Devasandra Extension
2nd Phase Judicial Layout
1st Block HRBR Layout
Sarjapur Road,
Byadarahalli
Poorna Pragna Layout
Judicial Layout
Varthur Road,
Chikka Banaswadi
Outer Ring Road East
Kavika Layout
Vinayaka Nagar
Banashankari Stage II
Hennur Busstop
GB Palya
AMS Layout
9th Block Jayanagar
Karuna Nagar
Ashwathnagar
Gaurava Nagar
Kengeri Satellite Town ( BDA SITE)
AGS Layout
Srinagar
Brigade Road
Bannerghatta
Maruthi HBCS Layout
Devanahalli Road
Green Woods Layout
Craig Park Layout
Immadihalli
Banagiri Nagar
Hiremath Layout
Jnanabharathi Layout
Chikkasandra
Bharath Housing Society Layout
3rd Block Jayanagar
Manjunatha Layout
Konanakunte Cross
Abbaiah Reddy Layout
Tavarekere
Thirumenahalli
KPC Layout
HOSUR MAIN ROAD
Nandi Durga Road
Kumara Park
Daadys Gaarden Layout
Maruthi Nagar
Marsur
Kallumantapa
Malimakanapura
Rustam Bagh Layout
New Thippasandra
Garden Layout
Viswapriyanagar.begur Road.bommanahalli.
T K Reddy Layout
Kumbena Agrahara
Pai layout , Mahadevapura
frazertown
Akshayanagara East
Doddanekundi
Venkatadri Layout
Bommenahalli
Mahaganapathy Nagar
Andrahalli
Vittal Nagar
2Electronic City Phase II
3rd Block Banashankari
Bhuvaneshwari Nagar
Kadarenahalli
Laggere
Victoria Layout
Prithvi Layout
Subramanyanagar
1 Ramamurthy Nagar
5th Stage BEML Layout
IVC Road
Jaya Mahal layout
BSM Extension
Vijinapura
Banaswadi
P&T Layout
Byrasandra
SBM Colony
Veerannapalya
Chowdeshwari Layout
Mathikere Extension
Sector 2 HSR Layout
Anantapura
Shivaji Nagar
Badavala Nagar
4th Block Koramangala
Belatur
Lalbagh Road
Kamakya Layout
Vignana Nagar
Nallurhalli
Chinnapanahalli
Lingarajapuram
3rd Block HBR Layout
Laxmi Sagar Layout
Nelamangala
Nagavarapalya
Hongasandra
Harappanahalli
BTM Layout
Chennammana Kere
Kanaka Nagar
Tasker Town
Govindpura
NR Colony
Agara Village
Shettigere
Kenchanehalli R R Nagar
BEL Road
Byagadadhenahalli
Doddabommasandra
Maruthi Layout
Sree Narayana Nagar
Tunganagara
BTM 2nd Stage
Remco Bhel Layout
Chokkasandra
Panduranga Nagar
Sri Venkateshpura Layout
Jakkur Plantation
Sir M V Nagar
Bikasipura
Basaveshwara Nagar Yelahanka
1st Block Koramangala
Hoskote
Attiguppe
Srirampuram
Yemlur
Race Course Road
Gkvk Layout
St. John's Road
Doopanahalli
Doddaballapur
Sathanur
Ramamohanapuram
kanakapura road
Kaveri Nagar
Sundar Ram Shetty Nagar
Kirloskar layout, Basaveshwarnagar
Alfa Garden Layout
Gowdanapalya
Hoodi Layout
Gaundanapalya
Arasanakunte
5th block Koramangala
JakkurYelahanka
Gunjur Palya
Upkar Layout
Sunkadakatte
Someshwara Layout
Kathreguppe
Channasandra Layout
HAL 3rd Stage
Doctors Layout
Austin Town
Rajagopala Nagar
Vishwapriya Nagar
Sarakki Nagar
Bahubali Nagar
Lottegolla Halli
Nandini Layout
Vibhutipura Extension
B Channasandra
Dollars Colony
Arehalli
Cambridge  road
Hennur Gardens
Thyagaraja Nagar
Howthinarayanappa Garden
Bharathi Nagar
SRINIVASAPURA
Cambridge Layout
 ittamadu
Doddakannelli
Pulkeshi Nagar
Thanisandra Main Road,
Jayanagar
 Bhoganhalli
Kumbalgodu
banashankari stage iii sa
Amruthnagar
Palace Guttahalli
Akshya Nagar
 Anekal
BCC Layout
Mathikere
Friends Colony
Doddabidrakallu
Sri Balaji Krupa Layout
Bidadi
Sampige Layout
Virgonagar
Dodsworth Layout
Kudlu Village,
Rajiv Gandhi Nagar
Kurubarahalli
Sector 4 HSR Layout
Bhagyalakshmi Avenue
Kengeri Hobli
Vyalikaval
Banaswadi,
Balaji Gardens Layout
Thavarekere
HAL 2nd Stage
 Devarabeesana Halli
 Rachenahalli
Tippenahalli
Prestige Sunrise
1st Stage Indira Nagar
Srigandada Kaval
Viswajit Layout
Adityanagar
BDS Layout
Shanthi Layout
Esther Enclave Layout
Volagerekallahalli
Keerthi Layout
Ganga Nagar Extension
Shikaripalya
Huttanahalli
Reliable Woods Layout
4th T block Jayanagar
Nayandanahalli
Hagadur
Popular Colony
Soundarya Layout
Banashankari 6th Stage ,Subramanyapura
Amarjyothi Colony
Pattanagere
Dollars Layout
Chikkabettahalli
Bhuvaneswari Nagar
Varanasi
Gopal Reddy Layout
sankeswari
T c palya
Govindraja Nagar
Virat Nagar
Chennammanakere Achukattu
Maragondana Halli, kr puram, old madras road
Dhanalakshmi Layout
Jp nagar 8th Phase .
Nobo Nagar
Kanakapura Road
Kadubeesanahalli
J P Nagar 7th Phase Ramayya City
Green Domain Layout
Cleveland Town
Syndicate Bank Colony
Off Sarjapur road,
M C Layout
Nanjappa Layout
Dodda Banaswadi
BEL Layout
Sri Kanteshwara Nagar
Bellari Road
Jyothi Nagar
Tata Nagar
RK Layout 2nd Stage
Tirumanahalli
Raghuvanahalli
Geddalahalli
Brindavan Nagar
Mariyannapalya
Palace Road
Pulikeshi Nagar
Domlur Layout
Vijaya Bank Layout
Narayanappa Layout
1Hanuman Nagar
Wilson Garden
Kumbhena Agrahara
Challaghatta
Nyanappana Halli
Indira Nagar 3rd Stage
KR Garden
Kanakadasa Layout
Mallathahalli
Jayamahal Extension
Laxminarayana Layout
Sahyadri Layout
Mathikere SBM colony
white field,kadugodi
Bagalur
Vinayak Nagar
P Krishnappa Layout
Crimson Layout
Hanumantha Nagar
Bagalakunte
Lavelle Road
Goraguntepalya
Rajankunte
6th Block Rajaji Nagar
MLA Layout
Koramangala Industrial Layout
Kyalasanahalli
Nagadevanahalli
Madiwala
Rajarajeshwari Nagara
Celebrity Paradise Layout
St Thomas Town
Ckikkakammana Halli
Banashankari 2nd Stage
Munivenkatppa Layout
Kamala Nagar
Kumarapalli
Marenahalli
Nagawara Junction
Maithri Layout
Raja Rajeshwari Nagar 5th Stage
Nanjappa Garden
Vayunandana Layout
Geetanjali Layout
Kenchenhalli
EPIP AREA, WHITEFIELD
1st Stage Domlur
RMV extension stage 2, rmv extension
Kalhalli
Hadosiddapura
Vijaya Bank Colony
Lakkasandra
JP Nagar 8th Phase,
Kachanayakanahalli
Nagaraja Garden
1 Annasandrapalya
6th block Koramangala
JP nagar 9th Phase,
4th Block Jayanagar
Kuvempu Nagar
Karnataka Shabarimala
Canara Bank Colony
Hanumagiri
Seshadripuram
Akshayanagara West
Prasanth Extension
Chikkathoguru
Anand nagar
West of Chord Road
Junnasandra
Handenahalli
manyata tech park
Sarvabhouma Nagar
SMV layout
CQAL LAYOUT C BLOCK
Near Electronic City,
Banashankari stage 2
Doddanakundi Industrial Area 2
OLd Gurappanapalya
Chikkadunnasandra
Indranagar  100ft road defence colony
Wajid layout thanisandra
Achins Road
Uvce Layout
Gattigere
Cottonpet
singapura paradise
Kannur
Sampangi Rama Nagar
BEML Layout 5th stage
Pragathi Nagar
Ramesh Nagar
A Narayanapura
Amblipura
Rajarajeshwari nagar
Rajarajeshwarinagar
Jinkethimmanahalli
Vimanapura
1st Stage Radha Krishna Layout
Bapuji Layout
Vasantapura main road
CQAL Layout
Venugopal Reddy Layout
Lake City
Lakshmipura
Old Town
Okalipura
Maruthi Extension
Vidyapeeta
Meenakshi Layout
S R Layout
GD Layout
Kithaganur
Shirdi Sai Nagar
JP Nagar 7th Phase,
J C Nagar
Sadduguntepalya
Doddakammanahalli
Bidrahalli
Medi Agrahara
whitefiled
Subbannaiah Palya
N R Layout
Richards Town
Manorayana Palya
Madanayakahalli
Mahalakshmi Puram
Jaladarsini Layout
Attur Layout
Brooke Bond First Cross
Glass Factory Layout
Milk Colony
Basnashankari,6th stage,
Near ullas theater
Chikkakannalli
Yeshwanthpur Industrial Suburb
Nandi Hills
Thanisandra main road
Saptagiri Layout
Doddabanahalli
 Electronic City
Vijayabank bank layout
D Group Employees Layout
Hosahalli Extension
1Channasandra
Whitefield,
Kempegowda Nagar
Vaderahalli
4th Phase JP Nagar
K R C kothanur
2nd Block Jayanagar
Singanayakanahalli
Udaya Nagar
 Whitefield
Vaishnavi Layout
Housing Board Layout Vijay Nagar
Thomas Town
Manganahalli
Indra Nagar
t.c palya
Ilyas Nagar
3rd Phase JP Nagar
kanakapura main road
Reliaable Tranquil Layout
Mailasandra
Basvasamithi Layout Vidyaranyapura
8th Block Jayanagar
Atmananda Colony
Baba Nagar
Badrappa Layout
Lal Bahadur Shastri Nagar
Puttappa Layout
Ananthanagar Phase 1,Electronic City , phase 2
Bethel Nagar
Kirloskar Layout
tc.palya
Dollar Scheme Colony
Omarbagh Layout
anjananager magdi road
Kodipalya
Aishwarya Crystal Layout
DUO Layout
Srinivas Colony
Moodalapalya
Gokaula Extension
Subash Nagar
RTO ullalu
Carmelaram
Hennur Bande
ravindra nagar, T.dasarahalli peenya
1st Block BEL Layout
Prakruthi Township
Bennigana Halli
Seethappa Layout
Langford Gardens
Bellandur,
Marasandra
Kalkere Channasandra
Shakthi Nagar
Ullal Uppanagar
 south
Rainbow Drive
3rd Block Koramangala
Jakkasandra Extension
Ganesha Block
Malur Hosur Road
Lakshmipura Vidyaanyapura
Hegganahalli
Rajanna Layout
Nagarbhavi  BDA Complex
Gidada Konnenahalli
Rahat Bagh
Escorts Colony
asha township, off hennur road
1A Block Koramangala
Near International Airport
NTI Layout
Fraser town
Dasappa Layout
Sonam Layout
CR Layout
BTM 4th Stage
Arekempanahalli
Chamundi Nagar
MRCR Layout
Shettihalli
Gangondanahalli
Ullal Road
Hullahalli
Jagajyothi layout
Lakkasandra Extension
Krishna Reddy Layout
Kuvempu Layout
Chickpet
T G extension
2nd Block Koramangala
Devi Nagar
GKW Layout
Gandhi Nagar
Jnana Ganga Nagar
rr nagar
Harohalli
Stage-4 Bommanahalli
Venkateshpuram
Judicial Layout, Kanakapura Road,
Mullur
J.P.nagar 6th Phase.Sarakki Nagar
Doddabele
Sadahalli
Sathya Layout
5 Bedroom Farm House in Lakshmipura
Shanti Nagar
2nd Stage Arekere Mico Layout
Jayamahal
Veer Sandra
Chennappa Layout
RMV Extension Stage 2
Sadanand Nagar
Whietfield,
BTM Layout 1stage 9th Main
Lavakusha Nagar
Vittal Mallya Road
Dena Bank Colony
Kadabagere
1st Block HBR Layout
High grounds
Kothnoor Dinne
Guddadahalli
Vasanthpura
Kasthuri Nagar East Of NGEF
Chikka Gowdanapalya.
TR Mill Road, Chamarajpet
Nirman Layout
Chokkahalli
Telecom Layout
Vikram Nagar
Virupakshapura
Muthyala Nagar
Nrupathunga Nagar
Coconut Grove Layout
Amrita Nagar
RR Layout
Billapura
KHB Colony Extension
Anjana Nagar
Subramanya Nagar
Janatha Colony
Veersandra
Harsha Layout
Tigalarpalya
2nd Block Bel Layout
sarjapura main road
Anekal - Hosur Road
Ramamurthy Nagar Extension
2nd phase jp nagar, jp nagar
BEML Layout 5th Stage
Manonarayanapalya
M V Extenstion
Kamdhenu Nagar
Ganganahalli
Narayanappa Garden
Rest House Road
Ex-Servicemen Colony Dinnur Main Road R.T.Nagar
Vijay Nagar
CMH Road
Ankappa Layout
Neelasandra
Yediyur
Upadhyaya Layout
bsk 6th stage 2ad block near sri conversation hall
Annapoorneshwari Layout, JP nagar 7th phase
Mudalpalaya
elachenahalli
B K Nagar
Vivek Nagar
 Basavangudi
Banashankari 6th stage , 2nd block
KG Halli
Cubbon Road
Veerabhadra Nagar
Vidhyanagar Cross
6th Block Jayanagar
Punappa Layout
Pampa Extension
 Sector 1 HSR Layout
Basaveswarnagar
Jaymahal Road
Nagarbhavi Garden Villas Layout
Agrahara Dasarahalli
T R Mill Road
Indira Nagar Stage 2
Hommadevanahalli
BTM Layout 2nd Stage 1st Phase
T C Palya main Road
1 Immadihalli
Navodaya Nagar
Guni Agrahara
Shankarapuram
Shetty Halli
AGB Layout
Bilal Nagar
Krishna Nagar
Kanakapura Main Road
Suryanagar
Duvasapalya
BCMC Layout
Kengeri Satellite Town Stage II
Church Street
Uday Nagar
Chaitanya Ananya
Nagashetty Halli
Byrasandra Extension
Sri Sai Layout
Devara Jeevanahalli
SK Garden
PNS Layout
Electronic city Phase 1,
 Banaswadi
Naidu Layout
Sugama Layout
Behind Don Bosco Church
Anugrah Layout
Bandepalya
poornaprajna layout
Annapurneshwari Nagar
Somanna Garden
RPC layout
HSR Layout 7th sector,
Bettadasanapura
Gulimangala
Addischetan Layout
Konena Agrahara
Raghavendra Layout
Varsova Layout
Bhattarahalli
Bande Nallasandra
HAL Layout
Vidya Nagar
Shingapura
SHANTHINAGAR
Jay an agar 4 T Block
Satyasaibaba Layout
Queens Road
Koppa
RR Nagar
Jagadish Nagar
3rd Phase Iti Layout
Ananthapura, T C palaya Main Road
Phase 1 Kammasandra
Deepanjali Nagar
SARJAPUR BAGALUR ROAD
B Y Raveshwara Nagar
KEB Colony
HOSUR RMAIN ROAD
Konappana Agrahara
Rajasree Layout
Vinayaka Layout
Thirumalashettyhally
Bharathnagar
5th Block Jayanagar
Jayanagar,
Asthagrama Layout
Rajarajesheari nagar
Millers Road
2nd Block Hbr Layout
Madavara
Dwaraka Nagar
Garebhavipalya
Neelamangala
Banashankari 6th Stage
Brindavan Layout
Chambenahalli
cooketown
Kathriguppe IV Phase
Ramchandrapuram
1Hoysalanagar
PC Palaya
Soppahalli
Aavalahalli
Jayanti Nagar
Virudhu Nagar
kamanahalli main road
7th Block Koramangala
Prakash Nagar
Bharat Nagar
Ramanashree Enclave
Yelahanka,MVIT college
Chikku Lakshmaiah Layout
Gnana Bharathi
Pillahalli
Ashok Nagar
Gollarahatti
Venkateswara Nagar
Chikkagubbi
Banashankari 2 nd Stage
Kammagondahalli
Nanjappa Layout Vidyaranyapura
Rammana Layout
Rajapura
Raja Rajeshwari Nagara
Govindapura
Thirupalya
Off Bannergatta road
Hoskote near
Haralur Road,
Adugodi
RK Colony
2 Bedroom Furnished Farm House in Kolar Road
kg halli jalhalli west
Vasatha Vallbha Nagar
BAGUR ROAD
Balepet
Annasandrapalya
RMC YARD
Panathur Road,
Shanthi Pura
Viviani Road
Sampangirama Nagar
Doctor Layout Rayasandra
Anwar Layout
Pillanna Gardens
AECS LAYOUT A-BLOCK Singasandra
Banashankari Stage I
4th Block HBR Layout
Michael Palaya
RBI Layout
Akash Nagar
Shauhardha Layout
Bhoopsandra
Electronic city phase 1,
Anathanagar
vinayakanagar
Jaraganahalli Jp Nagar Post
adigondanhalli
Off Bannergatta Road
Kanakapura  Rod
Richmond Road
Postal Colony
MEI layout, Bagalgunte
Jeevanhalli
Gubbi Cross, Hennur Main Road
Sabari Nagar
Ashraya Layout
Arishinakunte
Infantry Road
Whitefield ECC Road
Maruthi nagar kogilu
Ayappa Nagar
Billamaranahalli
Prasanti Nagar
Banasawadi,
Sunkan palya
Gayathri Nagar
Old Mangammanapalya Road
1Kasavanhalli
Kanakapura Road,
Hal old airport road
arudi
Anantapuram
Javarandoddi
Vijaypura
Bapuji Nagar
Amam Enclave Layout
Allalasandra
Ramanagara Channapatna
Maheswari Nagar
Hsr layout sector3
Thyagraj Nagar
Banagirinagar
Medaralli
Versova Layout
Chikkajala
Udayagiri
pavitra paradise

In [6]:
data.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [7]:
data1=data.drop(['area_type','society','balcony','availability'],axis='columns')
data1.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [8]:
data1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [9]:
data2=data1.dropna()
data2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [10]:
data2['bhk']=data2['size'].apply(lambda x:int(x.split(' ')[0]))
data2.head()

C:\Users\delhi\AppData\Local\Temp\ipykernel_21280\2872152676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['bhk']=data2['size'].apply(lambda x:int(x.split(' ')[0]))

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [11]:
data2['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [12]:
data2.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [13]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [14]:
data2[~data2['total_sqft'].apply(is_float)].head()

               location   size   total_sqft  bath    price  bhk
30            Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4
122              Hebbal  4 BHK  3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2
165            Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2
188            KR Puram  2 BHK  1015 - 1540   2.0   56.800    2

In [15]:
def convert_sqft_to_num(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [16]:
data3=data2.copy()
data3['total_sqft']=data3['total_sqft'].apply(convert_sqft_to_num)
data3.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [17]:
data4=data3.copy()
data4['price_per_sqft']=data4['price']*100000/data4['total_sqft']
data4.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [18]:
len(data4.location.unique())

1304

In [19]:
data4.location=data4.location.apply(lambda x:x.strip())
location_stats=data4.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

location
Whitefield               535
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           266
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [20]:
location_stats_less_than_10=location_stats[location_stats<=10]
location_stats_less_than_10

location
Basapura                 10
1st Block Koramangala    10
Gunjur Palya             10
Kalkere                  10
Sector 1 HSR Layout      10
                         ..
1 Giri Nagar              1
Kanakapura Road,          1
Kanakapura main  Road     1
Karnataka Shabarimala     1
whitefiled                1
Name: location, Length: 1052, dtype: int64

In [21]:
data4.location = data4.location.apply(lambda x:'other' if x in location_stats_less_than_10 else x)
len(data4.location.unique())

242

In [22]:
data4[data4.total_sqft/data4.bhk<300].head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
9,other,6 Bedroom,1020.0,6.0,370.0,6,36274.509804
45,HSR Layout,8 Bedroom,600.0,9.0,200.0,8,33333.333333
58,Murugeshpalya,6 Bedroom,1407.0,4.0,150.0,6,10660.980810
68,Devarachikkanahalli,8 Bedroom,1350.0,7.0,85.0,8,6296.296296
70,other,3 Bedroom,500.0,3.0,100.0,3,20000.000000

In [23]:
data5=data4[~(data4.total_sqft/data4.bhk<300)]
data5.shape

(12502, 7)

In [24]:
def remove_pps_outliers(df):
    df_out =pd.DataFrame()
    for key ,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        reduced_df=subdf[(subdf.price_per_sqft>(m-st))&(subdf.price_per_sqft<=(m+st))]
        df_out=pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
data6=remove_pps_outliers(data5)
data6.shape

(10241, 7)

In [25]:
def remove_bhk_outliers (df): 
    exclude_indices= np.array([])
    for location, location_df in df.groupby("location"):
        bhk_stats={}
        for bhk, bhk_df in location_df.groupby("bhk"):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft), 
                'std': np.std(bhk_df.price_per_sqft), 
                'count': bhk_df.shape[0]
            }

        for bhk, bhk_df  in location_df.groupby("bhk"):
            stats= bhk_stats.get(bhk-1) 
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df [bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis="index")
data7=remove_bhk_outliers(data6)
data7.shape

(7329, 7)

In [26]:
data8=data7.drop(['size','price_per_sqft'],axis='columns')
data8.head(6)

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2
5  1st Block Jayanagar      2750.0   4.0  413.0    4

In [27]:
dummies=pd.get_dummies(data8.location,dtype=int)

In [28]:
data9=pd.concat([data8,dummies.drop('other',axis='columns')],axis='columns')
  
data9.head()

,location,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1st Block Jayanagar,2850.0,4.0,428.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1st Block Jayanagar,1630.0,3.0,194.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1st Block Jayanagar,1875.0,2.0,235.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1st Block Jayanagar,1200.0,2.0,130.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1st Block Jayanagar,1235.0,2.0,148.0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#location_columns = data['location']
#unique_locations = location_columns.unique()
#data9['location'] = data9['location'].astype(int)
#data9.head()

In [30]:
data10=data9.drop('location',axis='columns')
data10.head(2)

,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,428.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
data10.shape

(7329, 245)

In [32]:
X=data10.drop('price',axis='columns')
X.head()

,total_sqft,bath,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,4,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
Y=data10.price
Y.head()

0    428.0
1    194.0
2    235.0
3    130.0
4    148.0
Name: price, dtype: float64

In [34]:
!pip install -U scikit-learn

'pip' is not recognized as an internal or external command,
operable program or batch file.

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=10)

In [36]:
from sklearn.linear_model import LinearRegression
ir_clf=LinearRegression()
ir_clf.fit(X_train,Y_train)
ir_clf.score(X_test,Y_test)

0.8909987705740592

In [37]:
X.columns

Index(['total_sqft', 'bath', 'bhk', '1st Block Jayanagar',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Block Hbr Layout', '5th Phase JP Nagar',
       '6th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=244)

In [38]:
np.where(X.columns=='1st Block Jayanagar')[0][0]

3

In [46]:
def predict_price(location, sqft, bath, bhk):
    loc_index = np.where(X.columns == location)[0][0]
    X_input = np.zeros(len(X.columns))
    X_input[0] = sqft
    X_input[1]=bath
    X_input[2]=bhk
    
    if loc_index>=0:
        X[loc_index]=1
    X_input = X_input.reshape(1, -1)     
    return ir_clf.predict([X])[0]

In [49]:
predict_price('2nd Stage Nagarbhavi',1000,2,1)

c:\Users\delhi\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: Found array with dim 3. LinearRegression expected <= 2.

In [ ]:
import pickle
with open('banglore_home_prices_model.pickel','wb')as f:
    pickle.dump(ir_clf,f)

In [ ]:
import json
columns={
    'data_columns' :[col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))